.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsl(0deg 4.11% 18.8%);
  padding: 1rem 1rem;
  background: #000;
}

.logo {

}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: underline;

}
