.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.todo-app {
  max-width: 40rem;
}

.input-btn {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.input-btn input {
  margin-bottom: 3rem;
  border-radius: 5px;
  outline: none;
  padding: 0.5rem 0.5rem;
  height: 2.5rem;
  width: 30rem;
  font-size: 1.5rem;
}

.todo {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.todo .todo-title {
  width: 30rem;
  text-align: left;
  word-break: break-all;
  font-size: 1.5rem;
}

.todo button {
  border-radius: 5px;
  outline: none;
  padding: 0.5rem 0.5rem;
  height: 2.65rem;
  width: 5rem;
  font-size: 1.2rem;
  cursor: pointer;
  user-select: none;
}
