.todos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: clamp(1rem, 40vw, 6rem);
  height: 100%;
}

.todo-app {
  max-width: clamp(10rem, 40vw, 40rem);
}

.input-btn {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.input-btn input {
  margin-bottom: 3rem;
  border-radius: 5px;
  outline: none;
  padding: 0.5rem 0.5rem;
  height: 2.5rem;
  min-width: 2rem;
  width: clamp(2rem, 40vw, 30rem);
  font-size: 1.5rem;
}

.todo {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.todo .todo-title {
  width: 30rem;
  text-align: left;
  word-break: break-all;
  font-size: 1.5rem;
}

.todo .action-buttons {
}
